<div class="error_explanation">
  <% if error.errors.any? %>
  <h3><%= error.errors.count %>errors prohibited this book from being saved:</h3>
  <% error.errors.full_messages.each do |message| %>
    <ul>
      <li><%= message %></li>
    </ul>
  <% end %>
<% end %>
</div>

